<h1>Shows</h1>
<div class="container">
<div id="mapid"></div>
</div>
<div class="container">
  <h2>Show Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Venue</th>
      <th>Contact</th>
      <th>Pay</th>
    </tr>
  </thead>
  <tbody id="shows-table">
  </tbody>
</table>
</div>

<div class="container">
<form>
  <div class="form-group">
    <label for="email">Date:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Venue:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="email">Contact:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Pay:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <!-- <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div> -->
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
