@import "bootstrap";
@import "bootstrap/theme";

body{
  // background-color: blue;
}
#mapid {
  height: 400px;
  box-shadow: 10px 10px black;
  border: 2px solid black;
}

form{
  // display: none;
}

#show-form{
  display: none;
}
